.sign-up-container {
  text-align: center;
}

form input, form button {
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #D8D8D8;
}

.field_container {
  width: 50%;
  margin: 20px auto;
}

form label {
  color: red;
}

form button {
  background: #4DBA88;
  color: white;
  border: none;
  width: 105%;
}