@media screen {
	/* --- Reset Styles --- */
	* {
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 14px;
		box-sizing: border-box;
	}

	html,
	body {
		height: 100%;
		width: 100%;
	}

	main {
		min-height: 400px;
	}

	header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid rgb(14, 76, 97);
		margin-bottom: 20px;
	}

	a {
		color: unset;
	}

	.app-name a {
		text-decoration: none;
		font-size: unset;
		.fa-vote-yea {
			font-size: inherit;
		}
	}

	.account-options a {
		text-decoration: none;
		background: rgb(14, 76, 97);
		color: white;
		padding: 6px 13px;
		border-radius: 10px;
		margin-left: 15px;
	}

	.error {
		color: red;
	}

	/* --- Welcome Page Styles --- */
	body {
		background-color: rgb(14, 76, 97);
		color: #333;
		font-family: Sans-Serif;
		line-height: 18px;
	}

	.main-container {
		margin: 60px 0 40px 0;
	}

	.main-container li {
		margin: 20px 0 20px 0;
		cursor: pointer;
	}

	.main-container ul a {
		text-decoration: none;
		background: rgb(14, 76, 97);
		color: white;
		margin: auto;
		text-align: center;
		width: 70%;
		padding: 20px 25px;
		display: block;
		border-radius: 40px;
	}

	// .view-poll-links a {
	// 	color: rgb(14, 76, 97);
	// 	background: white;
	// 	border: 2px solid rgb(14, 76, 97);
	// 	box-sizing: border-box;
	// }

	input {
		display: block;
	}

	.wrapper {
		background: #fff;
		-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		margin: 16px auto;
		max-width: 960px;
		padding: 2.25% 40px; /* 18px / 800px */
		width: 85%;
	}

	h1 {
		font-size: 36px;
		line-height: 54px;
	}

	h2 {
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 16px;
	}

	h3 {
		font-size: 18px;
		line-height: 36px;
	}

	p {
		margin-bottom: 18px;
	}

	.main {
		overflow: hidden;
	}

	.content {
		float: left;
		width: 60%; /* 480px / 800px */
	}

	.sidebar {
		background: #eee;
		border: 1px solid #ccc;
		float: right;
		padding: 2.08333333333%; /* 5px / 240px */
		width: 30%; /* 240px / 800px */
	}

	.fa-chevron-down {
		float: right;
		font-size: 20px;
	}

	.sidebar ul {
		font-size: 14px;
	}

	.text-center {
		text-align: center;
	}

	.branding {
		clear: both;
	}

	footer.branding {
		border-top: 1px solid rgb(14, 76, 97);
		margin-top: 70px;
		padding-top: 20px;
	}
}

@media screen and (max-width: 600px) {
	.wrapper {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		width: auto;
	}

	.content,
	.sidebar {
		float: none;
		width: 100%;
	}

	.sidebar {
		background: transparent;
		border: none;
		border-top: 2px solid #ccc;
		padding: 0;
	}

	h1 {
		font-size: 24px;
		line-height: 36px;
	}

	h2 {
		font-size: 18px;
		line-height: 24px;
	}
}
