.poll-question-container {
  .poll-question {
    margin: 15px auto;
    width: 50%;
    text-align: center;

    
    li {
      margin: 10px;         
       a{
          padding: 10px;
          // background: #F2F2F2;
          text-decoration: none;
          width: 100%;
          // text-align: center;
          border: 1px solid rgb(14, 76, 97);
          border-radius: 15px;
          display: block;
        }

        a:hover {
          color: white;
          background: rgb(14, 76, 97);
        }
    }

    .vote-count{
      padding: 10px;
      border-radius: 15px;
      span {
        float: right
      }
    }
  }
}