<div class="auth-container text-center">
  <h3>Log in</h3>
  <form method='post' action='/login' >
    <div class="field_container">
      <label for="password" ><small><%= @error %> </small> </label>
      <input name="email" placeholder="Email" type="email" value= "<%= params["email"] %>"  />
    </div>
    <div class="field_container">
      <input name="password" placeholder="Password" value = "<%= params["password"] %>" type="password" />
    </div>
    <div class="field_container">
      <button> Submit </button>
    </div>
    <p>Don't have an account? <a href="/register">Sign up</a></p>
  </form>
</div>
